<h1>Listing Events</h1>
<%= link_to 'New Topic', new_event_path %>
<table>
  <tr>
    
    <th colspan = "10"> Event Name </th>
    <th colspan = "10"> Description</th>
    <th colspan = "10"> Start Time </th>
    <th colspan = "10"> End Time </th>
    <th colspan = "10"> Course  </th>
   
  </tr>

  <% @event.each do |event| %>
    <tr>
     
      <td colspan = "10"><%= event.name %></td>
      <td colspan = "10"><%= event.description %></td>
      <td colspan = "10"><%= event.start_time %></td>
      <td colspan = "10"><%= event.end_time %></td>
      <td colspan = "10"><%= event.course %></td>

      <td colspan = "2" ><%= link_to 'Edit', edit_event_path(event) %></td>
      <td colspan = "2"><%= link_to 'Delete', event_path(event), method: :delete, data:{ confirm: 'Are you sure you want to delete this topic?' } %></td>
    </tr>
  <%end%> 
</table>
